<div class="page-wrapper">
  <div class="page-content">
    <div class="row mx-0">

      <div class="dashboard-card-deck col-sm-4 col-md-3 col-12 my-2"> 
        <div class="dashboard-card">
          <div class="row mx-0 card-inner-grid">
            <div class="label-container">
              <p class="label">Jobs Created</p>
            </div>
            <div class="count-container">
              <p class="count">{{jobs.jobsCreated}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="dashboard-card-deck col-sm-4 col-md-3 col-12 my-2"> 
        <div class="dashboard-card">
          <div class="row mx-0 card-inner-grid">
            <div class="label-container">
              <p class="label">Job Applications</p>
            </div>
            <div class="count-container">
              <p class="count">{{jobs.jobApplicationsRecieved}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>