<div class="page-wrapper">
  <div class="page-content">
    
    <div class="form-container row mx-0">
      <form #loginForm="ngForm" class="template-form" (ngSubmit)="performLogin()">
        <h4 class="text-center">Employer Login</h4>
        <div class="alert alert-danger my-2" role="alert" *ngIf="loginError">
          {{loginError}}
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" ngModel name="username" required 
          #username="ngModel">
          <div class="form-control-feedback" *ngIf="username?.errors && (username.dirty || username.touched)">
            <span class="form-text" *ngIf="username?.errors?.required">Username is required</span>
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" ngModel name="password" required #password="ngModel" minlength="8" appCustomPasswordValidator>
          <div class="form-control-feedback" *ngIf="password?.errors && (password.dirty || password.touched)">
            <span class="form-text" *ngIf="password?.errors?.required">Password is required</span>
            <span class="form-text" *ngIf="password?.errors?.minlength">Password should be atleast 8 characters</span>
            <span class="form-text" 
            *ngIf="!(password?.errors?.minlength) && password?.errors?.passwordValidator">
            Should be Alphanumeric with atleast one special character</span>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
        <p class="mt-4 text-center">Don't have an account? <a routerLink="/employer/register">Create Account</a></p>

         
      </form>
    </div>
    
  </div>

</div>